In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Panda Series
An n-dimensional array. It can only store one data type at a time.

In [2]:
x = pd.Series([10, 20, 30, 40, 50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
x.values

## Creating a series from (two) lists

In [5]:
data = [450, 650, 870]
Sales = Series(data, index=['Don', 'Mike', 'Edwin'])
Sales

Don      450
Mike     650
Edwin    870
dtype: int64

In [6]:
type(Sales)

pandas.core.series.Series

### Accessing a series

In [7]:
Sales['Don']

450

In [8]:
Sales[0]  # can't do this with dictionaries

450

### Conditions on series

In [9]:
Sales > 500  # permanently changed this series in the memory

Don      False
Mike      True
Edwin     True
dtype: bool

In [10]:
Sales[[False, True, True]]  # just return the ones that are True

Mike     650
Edwin    870
dtype: int64

In [11]:
'Don' in Sales  # doesn't work with values. Only keys.

True

### Convert Series to Dictionary

In [12]:
sales_dict = Sales.to_dict()
sales_dict

{'Don': 450, 'Mike': 650, 'Edwin': 870}

### Convert Dictionary to Series

In [13]:
sales_ser = Series(sales_dict)
sales_ser

Don      450
Mike     650
Edwin    870
dtype: int64

## Adding (Indexes) to a Series

In [15]:
new_sales = Series(Sales, index=['Don', 'Mike', 'Sally', 'Edwin', 'Lucy'])
new_sales

Don      450.0
Mike     650.0
Sally      NaN
Edwin    870.0
Lucy       NaN
dtype: float64

### Is NaN? (Not a Number)

In [16]:
np.isnan(new_sales['Sally'])

True

In [17]:
np.isnan(new_sales)  # creates a boolean series

Don      False
Mike     False
Sally     True
Edwin    False
Lucy      True
dtype: bool

### Name a (the index) "Column"

In [18]:
Sales.index.name = "Sales person"

In [19]:
Sales

Sales person
Don      450
Mike     650
Edwin    870
dtype: int64